body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 28px 20px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.header-left img {
    width: 180px;
    height: auto;
    mix-blend-mode: lighten;
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-left: 100px;
}

.header-right .btn {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.header-right .btn:hover {
    background-color: #555555;
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
}

.query-btn, .logout-btn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.query-btn {
    background-color: #4CAF50;
    color: white;
}

.query-btn:hover {
    background-color: #45a049;
}

.logout-btn {
    background-color: #f44336;
    color: white;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

.main-container h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

td {
    position: relative;
}

h:message {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 0.9em;
    white-space: nowrap;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.main-container h3 {
    margin-bottom: 0px;
    text-align: center;
}

.main-container {
    padding: 20px;
    margin-top: 10x;
    box-sizing: border-box;
    background-color: #f0f0f0;
    box-shadow: none;
    border-radius: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.block {
    flex: 1 1 45%;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.block-center {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer {
    background-color: #333333;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
}

.footer-left,
.footer-right {
    display: inline-block;
    text-align: left;
}

.footer-right {
    text-align: right;
}
