body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 28px 20px;
    margin-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.header-left img {
    width: 180px;
    height: auto;
    mix-blend-mode: lighten;
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-left: -70px;
}

.header-right .btn {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.header-right .btn:hover {
    background-color: #555555;
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
}

.main-container {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: -11px 20px;
    margin-top: -57px;
    box-sizing: border-box;
}

.main-container h3 {
    font-size: 2rem;
    margin-top: -17px;
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: auto;
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}

table .btn {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin: 10px;
}

table .btn:hover {
    background-color: #f0f0f0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.footer {
    background-color: #333333;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
}

.footer-left,
.footer-right {
    display: inline-block;
    text-align: left;
}

.footer-right {
    text-align: right;
}
