body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: #ffffff;
}

/* Contenedor de la página */
.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Estilo del encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alineación vertical */
    background-color: #333333;
    padding: 28px 20px; /* Reducido el padding para hacerlo más delgado */
    margin-bottom: 60px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

/* Imagen del encabezado con mayor tamaño */
.header-left img {
    width: 180px; /* Aumentado el tamaño de la imagen */
    height: auto; /* Asegura que no se distorsione */
    mix-blend-mode: lighten;
}

/* Contenedor central para centrar el título */
.header-center {
    flex-grow: 1; /* Ocupa el espacio restante */
    display: flex;
    justify-content: center; /* Asegura que el título esté centrado */
}

/* Título centrado, ahora con margen izquierdo */
.header-title {
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-left: -70px; /* Ajuste de margen a la izquierda para moverlo */
}

/* Botón de logout */
.header-right .btn {
    padding: 10px 20px;
    background-color: #333333;  /* El mismo color de fondo que el header */
    color: #ffffff;  /* Texto blanco para el botón */
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;  /* Añadimos transición al brillo */
}

.header-right .btn:hover {
    background-color: #555555;  /* Un tono ligeramente más claro que el color del header */
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);  /* Brillo suave alrededor */
}

/* Contenedor principal */
.main-container {
	background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: -11px 20px; /* Reducir padding superior para acercar la tabla */
    margin-top: -57px;  /* Margen negativo para mover la tabla hacia arriba */
    box-sizing: border-box;
}

.main-container h3 {
    font-size: 2rem; /* Ajustamos el tamaño a más pequeño */
    margin-top:-17px;
    margin-bottom: 20px; /* Espaciado inferior */
    text-align: center;
}

/* Tabla de botones */
table {
    width: auto; /* Evita que la tabla sea demasiado ancha */
    margin-top: 10px;
    text-align: center;
    box-sizing: border-box;
}

table .btn {
    padding: 15px 30px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    margin: 10px; /* Espaciado entre botones */
}

table .btn:hover {
    background-color: #f0f0f0;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

/* Estilo del pie de página */
.footer {
    background-color: #333333;  /* Gris muy oscuro para el pie de página */
    padding: 15px 20px; /* Ajustado padding */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* Asegura que el contenido esté distribuido */
    color: white; /* Letras blancas en el pie de página */
    font-size: 1rem; /* Tamaño de fuente más pequeño para el pie de página */
}

.footer-left,
.footer-right {
    display: inline-block;
    text-align: left; /* Alineación izquierda para el texto de la izquierda */
}

.footer-right {
    text-align: right; /* Alineación derecha para el texto de la derecha */
}
