body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 28px 20px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}

.header-left img {
    width: 180px;
    height: auto;
    mix-blend-mode: lighten;
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-title {
    font-size: 2rem;
    color: white;
    margin: 0;
    margin-left: 100px;
}

.header-right .btn {
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.header-right .btn:hover {
    background-color: #555555;
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
}

.query-btn, .logout-btn {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.query-btn {
    background-color: #4CAF50;
    color: white;
}

.main-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px 50px;
}

.block-center {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer {
    background-color: #333333;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1rem;
}

.footer-left,
.footer-right {
    display: inline-block;
    text-align: left;
}

.footer-right {
    text-align: right;
}
